@tailwind components;
@tailwind utilities;

.tiptap-wrapper.tiptap-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  height: 100%;

  .tiptap-content {
    flex: 1 1 0%;
    overflow-y: scroll;
    max-height: 100% !important;

    .ProseMirror {
      max-width: theme("screens.lg");
      margin-inline: auto;
    }
  }
}

.tiptap-editor .tiptap-toolbar {
  display: grid;
  grid-template-columns: 1fr auto;

  button {
    border-radius: 0.25rem;
    margin: 6px 4px 5px;
    display: block;
    padding: 4px;
  }

  button:hover,
  button:focus {
    background-color: theme("colors.gray.200");
  }

  button.active {
    background-color: theme("colors.gray.300");
    color: theme("colors.gray.900");
  }
}

.tiptap-editor .tiptap-toolbar input[type="color"] {
  -webkit-appearance: none;
  border: 0px solid theme("colors.gray.300");
}

.tiptap-editor .tiptap-toolbar input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.tiptap-editor .ProseMirror {
  padding: 1rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;

  > * + * {
    margin-block-start: 1rem;
  }

  > * + h1,
  > * + h2,
  > * + h3,
  > * + h4,
  > * + h5,
  > * + h6 {
    margin-block-start: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.1;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h4 {
    font-size: 1.125rem;
  }

  .lead {
    font-size: 1.375rem;
    line-height: 1.3;
  }

  ul,
  ol {
    padding-inline-start: 1rem;
    margin-inline-start: 1rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul.checked-list {
    list-style-type: none;
    margin-inline-start: 0;
  }

  ul.checked-list li {
    display: flex;
    align-items: baseline;
    gap: 0.375em;
  }

  ul.checked-list li::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="black" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" /></svg>');
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }

  blockquote {
    border-left: 0.5rem solid theme("colors.gray.300");
    padding-inline-start: 0.5rem;
    margin-inline-start: 1rem;
  }

  hr {
    border-color: theme("colors.gray.300");
  }

  a {
    color: theme("colors.blue.600");
    text-decoration: underline;
  }

  sup {
    font-size: 65%;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }

  table td,
  table th {
    border: 2px solid theme("colors.gray.300");
    box-sizing: border-box;
    min-width: 1em;
    padding: 3px 5px;
    position: relative;
    vertical-align: top;
  }

  table td > *,
  table th > * {
    margin-bottom: 0;
  }

  table th {
    background-color: theme("colors.gray.200");
    color: theme("colors.gray.700");
    font-weight: 700;
    text-align: left;
  }

  table .selectedCell:after {
    background: rgba(200, 200, 255, 0.4);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  table .column-resize-handle {
    background-color: #adf;
    bottom: -2px;
    position: absolute;
    right: -2px;
    pointer-events: none;
    top: 0;
    width: 4px;
  }

  table p {
    margin: 0;
  }

  .tableWrapper {
    padding: 1rem 0;
    overflow-x: auto;
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  code {
    background-color: theme("colors.gray.300");
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
  }

  pre {
    background-color: theme("colors.gray.900");
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none !important;
      font-size: 0.8rem;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
      color: #ff7b72;
    }
    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
      color: #d2a8ff;
    }
    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-variable {
      color: #79c0ff;
    }
    .hljs-meta .hljs-string,
    .hljs-regexp,
    .hljs-string {
      color: #a5d6ff;
    }
    .hljs-built_in,
    .hljs-symbol {
      color: #ffa657;
    }
    .hljs-code,
    .hljs-comment,
    .hljs-formula {
      color: #8b949e;
    }
    .hljs-name,
    .hljs-quote,
    .hljs-selector-pseudo,
    .hljs-selector-tag {
      color: #7ee787;
    }
    .hljs-subst {
      color: #c9d1d9;
    }
    .hljs-section {
      color: #1f6feb;
      font-weight: 700;
    }
    .hljs-bullet {
      color: #f2cc60;
    }
    .hljs-emphasis {
      color: #c9d1d9;
      font-style: italic;
    }
    .hljs-strong {
      color: #c9d1d9;
      font-weight: 700;
    }
    .hljs-addition {
      color: #aff5b4;
      background-color: #033a16;
    }
    .hljs-deletion {
      color: #ffdcd7;
      background-color: #67060c;
    }
  }
}

.dark {
  .tiptap-editor .tiptap-toolbar {
    button:hover,
    button:focus {
      background-color: theme("colors.gray.800");
    }

    button.active {
      background-color: theme("colors.gray.600");
      color: theme("colors.gray.300");
    }
  }

  .tiptap-editor .ProseMirror {
    blockquote {
      border-left: 0.5rem solid theme("colors.gray.500");
    }

    hr {
      border-color: theme("colors.gray.500");
    }

    a {
      color: theme("colors.blue.400");
    }

    ul.checked-list li::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" /></svg>');
    }

    table td,
    table th {
      border: 2px solid theme("colors.gray.600");
    }

    table th {
      background-color: theme("colors.gray.500");
      color: theme("colors.gray.900");
    }

    code {
      background-color: theme("colors.gray.500");
    }
  }

  .tiptap-editor .ProseMirror-focused .ProseMirror-gapcursor:after {
    border-top: 1px solid white;
  }
}
